<header>
  		<nav class="be-red white large-padding">
  			<ul class="no-list row center-xs middle-xs">
  				<li class="col-md">
  					<h1 class="no-margin" id="logo"> Restorante</h1>
  				</li>
  				<li class="col-md">
  					<%= link_to "Inicio", root_path%>
  				</li>
  				<li class="col-md">
  					Empleados
  				</li>
  				<li class="col-md">
  					Platos
  				</li>
  				<li class="col-md">
  					Ingredientes
  				</li>
          <li class="col-md">
            Pedidos
          </li>
          <li class="col-md">
            Ventas
          </li>
  			</ul>
  		</nav>
</header>	